.dropZone:hover { border: dashed }
.thumb { height: 128px !important }
.dirtoolbox { padding-bottom: 4px }
.toolbox {
    padding: 2px !important;
}
.toolbox small {
}
.toolbox:hover {
}
.thumb-image:hover {
    background: lightyellow
}
.thumb-image-active {
    background: cornflowerblue;
}